body{
  background-color: #F5F5F5;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.appBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: clamp(128px,100vh, 200vh);
  padding: 2rem;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.totalAmountSplit{
  display: flex;
  gap: 2rem;
}
